*{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
}
.head{
    background-color: white;
    width: 100%; 
    height: 90px;
}

.logo{
    padding-top: 10px;
    padding-left: 10px;
    color: black;
}

.rnavbar ul{
float: right;
display: flex;
list-style-type: none;
gap: 30px;
font-size: 40px;
font-weight: bold;
margin-top:-28px;
/* border: 1px solid black;
border-radius: 50px; */
/* background-color: black; */
color: white;
}
.rnavbar ul a{
    padding: 10px 20px;
}
.rnavbar a{
    text-decoration: none;
    color: black;
    /* padding: 10px ; */
    margin-right: 20px;
     
}
.text h1{
  color: aliceblue;
}
a:hover{
    color: white;
    transition-duration: 3s;
}
body{
    background-color:rgb(71, 66, 66);
}
.text h1{
    margin-top: -200px;
}
.text{
    border: 1px  black;
    text-align: center;
    margin-top: 200px;
    margin-right: 100px;
}
.flex{
    display: flex;
    gap: 100px;
    margin-left: 250px;
    border: 1px solid black;
    width: 60%;
    padding: 30px;
    padding-bottom: 100px;
    margin-top: 100px;
    border-radius: 20px;
    background-color: rgb(241, 234, 234);
}
.flex img{
    height: 90px;
    width: 90px;
   margin-top: 100px;
}
.footer{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 40px;
}
.footer a{
    color: white;
}
footer{
    
    background-color: rgb(46, 43, 43);
    padding: 20px 0;
    margin-top: 30px;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
}
.footer-container {
  display: flex;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
}
h3{
    color: aliceblue;
}
.footer-column {
  flex: 1;
  padding: 0 20px;
}

.footer-column h3 {
  margin-bottom: 10px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 5px;
}

.footer-column ul li a {
  text-decoration: none;
  color: #d2c7c7;
}
.footer-column ul li a .fa{
  margin-right: 10px;
}

.footer-column form {
  display: flex;
  flex-direction: column;
}

.footer-column form input,
.footer-column form textarea {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.footer-column form button {
  padding: 10px;
  background-color: #dae4ed;
  color: rgb(44, 43, 43);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.footer-column form button:hover {
  background-color: #0056b3;
}
.footer-column{
    margin-left: 90px;
}
.footer a{
    color: white;
}
